#game div {
  font-family: "";
  border: 1px solid black;
  width: 4em;
  height: 4em;
  margin: 0.25em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 4em;
  font-size: 2em;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

#game {
  columns: auto;
  column-fill: balance;
  width: 55%;
  margin: 0 auto;
}

#number-entry {
  width: 3em;
}

#score-container {
  visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

#score-container,
#button-container,
form {
  margin-top: 1em;
  margin-bottom: 1em;
}

#reset-scores-button{
  background-color: rgb(255, 49, 49);
  border-radius: 10px;
  border-style: solid;
}

body {
  text-align: center;
  font-size: calc(0.5em + 1vmin);
  font-family: "Lucida Sans", Verdana, sans-serif;
}
